<link rel="stylesheet" href="../public/css/carts.style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">

    {{> navbar}}
    <div class="cart-container">
        <h1>Your Cart</h1>
        <table>
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{this.quantity}}</td>
                        <td>{{this._id.title}}</td>
                        <td>{{this._id.category}}</td>
                        <td>{{this._id.description}}</td>
                        <td>{{this._id.price}}</td>
                        <td>{{this._id.code}}</td>
                        <td>
                            <button class="remove-btn" id="{{this._id._id}}">Remove</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <p class="total-amount">Total Amount: ${{amount}}</p>
        <div class="button-container">
            <form action="/api/tickets" method="post" id="ticket">
                <input type="hidden" name="cid" value="{{cart.cid}}">
                <input type="submit" class="purchase-button" value="Proceed to checkout">
            </form>

            <form action="/api/carts/{{cart.cid}}" method="delete" id="empty">
                <input type="hidden" name="cid" value="{{cart.cid}}">
                <input type="submit" class="empty-button" value="Empty cart">
            </form>
        </div>
            
    </div>

<script src="../public/js/cart.view.js"></script>