<link rel="stylesheet" href="../public/css/profile.style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

<div class="container">
  <div class="profile">
    <h1>Mi profile</h1>
    {{#if user.first_name}}
      <div class="field">
        <label for="first_name">First Name:</label>
        <span>{{user.first_name}}</span>
      </div>
    {{/if}}
    {{#if user.last_name}}
      <div class="field">
        <label for="last_name">Last Name:</label>
        <span>{{user.last_name}}</span>
      </div>
    {{/if}}
    {{#if user.username}}
      <div class="field">
        <label for="username">Username:</label>
        <span>{{user.username}}</span>
      </div>
    {{/if}}
    {{#if user.age}}
      <div class="field">
        <label for="age">Age:</label>
        <span>{{user.age}}</span>
      </div>
    {{/if}}
    <div class="field">
      <label for="email">Email:</label>
      <span>{{user.email}}</span>
    </div>
    <div class="field">
      <label for="role">Role:</label>
      <span>{{user.role}}</span>
    </div>
  </div>
</div>
