<link rel="stylesheet" href="../public/css/profile.style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

{{>navbar}}

<div class="container">
  <div class="profile">
    <h1>Mi profile</h1>
    {{#if first_name}}
      <div class="field">
        <label for="first_name">First Name:</label>
        <span>{{first_name}}</span>
      </div>
    {{/if}}
    {{#if last_name}}
      <div class="field">
        <label for="last_name">Last Name:</label>
        <span>{{last_name}}</span>
      </div>
    {{/if}}
    {{#if username}}
      <div class="field">
        <label for="username">Username:</label>
        <span>{{username}}</span>
      </div>
    {{/if}}
    {{#if age}}
      <div class="field">
        <label for="age">Age:</label>
        <span>{{age}}</span>
      </div>
    {{/if}}
    <div class="field">
      <label for="email">Email:</label>
      <span>{{email}}</span>
    </div>
    <div class="field">
      <label for="role">Role:</label>
      <span>{{role}}</span>
    </div>
  </div>
  <div id="change-password">
    <button type="button" class="restore-button"onclick="redirectToRestore()">Change Password</button>
  </div>
</div>



<script src="../public/js/profile.js"></script>