<link rel="stylesheet" href="../public/css/restoreUserPassword.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

<div class="container">

<h2 id="titleChange">Change your password</h2>
<h3>{{user}}</h3>
  <form action="/restore/{{id}}" method="POST" id="changePassForm">
    {{#if errorMessage}}
      <h4 id="errorResponse">{{errorMessage}}</h4>
    {{/if}}
    {{#if message}}
      <h4 id="response">{{message}}</h4>
    {{/if}}
    <label id="passlabel1" for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label id="passlabel2" for="password">Confirm password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" onkeyup="check()" required>
    <input type="text" name="id" value="{{id}}" hidden>
    <span id='message'></span>
    <input id="changeButton" type="submit" value="Change"> 
  </form>
  <div id="buttonContainer"></div>
</div>

<script src="../public/js/restoreUserPassword.js"></script>